img.logo {
    max-width: auto;
    height: auto;
}

h1 {
    color: red;
    text-align: center;
  }

img.background {
    
    background-repeat: no-repeat;
    size: 500%;
    opacity: 0.5;
}
/* 
body {
    background-image: url("Images/background.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
}  */

/*
Nav bar for tabs
*/